* {
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}
h1 {
    background-color: #081b31;
    color: white;
    font-size: 2.5rem;
    height: 5rem;
    line-height: 5rem;
}
.choice {
    height: 20vw;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.choice:hover {
    background-color: #081b31;
    cursor: pointer;
}
img {
    height: auto;
    width: 90%;
    object-fit: cover;
    border-radius: 50%;
}
.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
    flex-wrap: wrap;
}
.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 3rem;
}
#user-score, #computer-score {
    font-size: 3rem;
}
.msg-container {
    margin-top: 3rem;
}
#msg {
    background-color: #081b31;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
}
@media (max-width: 768px) {
        h1 {
        font-size: 2rem;
        line-height: 4rem;
    }

    .choice {
        width: 30vw; /* Adjust for smaller screens */
        height: 30vw;
    }

    .choices {
        gap: 1rem;
        margin-top: 3rem;
    }

    .score-board {
        gap: 2rem;
        font-size: 1.5rem;
    }
    #user-score, #computer-score {
        font-size: 2.5rem;
    }
    #msg {
        font-size: 1.25rem;
        padding: 0.8rem;
    }
}